.logo {
    width: 45px;
    float: left;
    padding-right: 10px;
}
.h1 {
    font-size: 30px;
    color: cyan;
}
.button {
    background-color: lightcyan;
}
.h2{
    font-size: 40px;
    color: darkcyan;
}
.tr{
    font-size: 18px;
}
@media (min-width: 768px) {
    .h1 {
        font-size: 60px;
    }
    .logo {
        width: 100px;
        padding-right: 20px;
    }
}